@model Marketak.Models.ProductModel

@{
    ViewBag.Title = "ProductsDetails";
}

    <h1 class="col-md-offset-6"> @Html.DisplayFor(model => model.Name) </h1>

<div>
            <img src=@Html.DisplayFor(model => model.Photo) class="img-responsive">
            <div class="caption">
                <div class="row">
                    <div class="col-md-6 col-xs-6 price">
                        <h4>
                            <label>Price: @Html.DisplayFor(model => model.Price)</label>
                        </h4>
                    </div>
                </div>
                <p>Description: @Html.DisplayFor(model => model.Description)</p>
                <div class="row">
                    <div class="col-md-offset-6">
                        <button class="btn btn-success btn-product">Add to Cart</button>
                    </div>
                </div>
                <hr />
                <div class="col-md-10">
                    <h4>
                        <label>Quantity: @Html.DisplayFor(model => model.Quantity)</label>
                    </h4>
                    <h4>
                        <label>Rating: @Html.DisplayFor(model => model.Rating)</label>
                    </h4>
                    <h4>
                        <label>Number of Ratings: @Html.DisplayFor(model => model.NoOfrating)</label>
                    </h4>
                    <h4>
                        <label>Company: @Html.DisplayFor(model => model.CompanyName)</label>
                    </h4>
                    <h4>
                        <label>Category: @Html.DisplayFor(model => model.CategoryName)</label>
                    </h4>
                    <h4>
                        <label>Color: @Html.DisplayFor(model => model.Color)</label>
                    </h4>

                </div>
            </div>
            
</div>


